<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-mock.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-beans.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-core.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-web.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>